# R-specific
*.Rproj
*.Rhistory
.RData
.Ruserdata
.Rproj.user/

# Shiny-specific
.RData
.Rhistory
.Renviron
.Rproj.user/
.Rproj.site/

# macOS-specific
.DS_Store

### VisualStudioCode ###
.vscode/*      # Maybe .vscode/**/* instead - see comments
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
**/.history
